:host {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}

#diagram, #chat-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    height: 50%;
    max-width: 100%;
}

#chat-container {
    border-right: 1px solid #dedede;
}

@media (min-width: 992px) {
    :host {
        flex-direction: row-reverse;
    }

    #diagram {
        height: 100%;
        width: 70%;
    }

    #chat-container {
        height: 100%;
        width: 30%;
    }
}